.maxWidth {
  max-width: 1200px;
}

.wrapper {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
body{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.backColor {
  background-color: #F8F8F8;
}
h4 {
  background-color: #f08080;
  color: #F9EDE5;
  padding-top: 0.5rem;
  padding-left:0.2rem;
  font-size: large;
  margin-top: auto;
  margin-bottom: auto;
}
.contentCard{
  display: flex;
  flex-direction: row;
}


.media {
  position: relative;
  display: table-cell;
}
.media .caption {
  position: absolute;
  bottom: 0.3rem;
  color:yellow;
}
img {
  max-width: 100%;
}

#div1 {
  display: flex;
  flex-direction: column;

  padding: 0.5rem;
}

#div12 {
  width: 100%;
  margin: 0 auto;}

#div121 {
  background-color: #fed460;
}

#div2 {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

#div21 {
  flex-grow: 2;
  display: grid;
  background-color: #B8B9BF;
  padding: 0.5rem;
  grid-template-areas:
    "div211 div212"
    "div213 div214"
    "div215 div215";
  gap: 0.5rem;
}

#div22 {
  flex-grow: 1;
  display: flex;
  background-color: #B8B9BF;
  padding: 0.5rem;
  gap: 0.5rem;
  flex-direction: column;
  text-align: center;
}

#div21 > #div211,
#div212,
#div213,
#div214 {
  background-color: #F5F1F1;
  padding: 0.5rem;
}

#div21 > #div211 {
  grid-area: div211;
}

#div21 > #div212 {
  grid-area: div212;
}

#div21 > #div213 {
  grid-area: div213;
}

#div21 > #div214 {
  grid-area: div214;
}

#div21 > #div215 {
  background-color: #B8B9BF;
  grid-area: div215;
  text-align: center;
}

#footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

#title {
  font-weight: bold;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 576px) {

  #div2 {
    flex-flow: column wrap;
  }


  #div12 {
    gap: 1rem;
    padding: 1rem;
  }

  #div2.backColor {
    background-color: #fee228;
  }

  #div21 {
    background-color: #09506f;
    grid-template-areas:
      "div211"
      "div212"
      "div213"
      "div214"
      "div215";
    gap: 1rem;
    padding: 1rem;
  }

  #div21 > #div211,
  #div212,
  #div213,
  #div214 {
    background-color: #61959c;
  }

  #div21 > #div215 {
    background-color: #a3ddcb;
  }

  #div22 {
    background-color: #fd7b54;
    padding: 1rem;
  }

  #div1,
  #div2,
  #footer {
    padding: 1rem;
  }
}

/* Media Query for Tablets, Ipads */
/*(min-width: 481px) and (max-width: 767px)*/
@media only screen and (min-width: 577px) and (max-width: 991px) {
  #div2 {
    flex-flow: column wrap;
  }

  #div2.backColor {
    background-color: #feff03;
  }

  #div1,
  #div2,
  #footer {
    padding: 0.7rem;
  }

  #div12,
  #div21,
  #div22 {
    gap: 0.7rem;
    padding: 0.7rem;
  }


  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
}
